Disabling Hashbang (#!) for developer route

Hello, it's me again - apologies for yet another issue. I hope I haven't inconvenienced you too much

I have noticed that the developer route (as well as the others) automatically append `#!` to the end of the URL. I can see it referenced in some of the js files. I am just wondering as to why this is and if there's an option to disable it as it could be treated as a URI Fragment. I know the documentation does show it without the #! for the `developer/auth` but I haven't been able to get it to work with that route, so I am assuming I am doing something wrong but I haven't found a fix for it. Thanks in advance for your help regarding this.

I think this causes the auth endpoint to be incompatible with this RFC: https://tools.ietf.org/html/rfc3986#section-3 where it shows the query coming before the fragment:
```
URI         = scheme ":" hier-part [ "?" query ] [ "#" fragment ]
```
as it ends up as `/developer/#!/auth?response...`

In the OAuth 2.0 RFC (https://tools.ietf.org/html/rfc6749#section-3.1) it also states that the URI should not contain any fragments:
```
   The endpoint URI MAY include an "application/x-www-form-urlencoded"
   formatted (per Appendix B) query component ([RFC3986] Section 3.4),
   which MUST be retained when adding additional query parameters.  The
   endpoint URI MUST NOT include a fragment component.
```

Hi, no problem, do not hesitate to create an issue, in the end it only improves the quality of Fusio :) Regarding the issue, so this comes from the AngularJS routing system, since the developer app is based on it. There is an option to run the AngularJS app in html5 mode, then you dont need to use the hash based routing but instead you can use i.e. `/developer/auth` but this setup is a bit more complicated since you need to use a base tag at the index.html file etc. In fact previous versions of the developer app used it but we have removed it because of problems s. https://github.com/apioo/fusio-apps-developer/commit/967d0155c0aeb67b946b1f03a45b249f25b8aec9

But you are right this is currently not optimal as OAuth2 endpoint. We have an alternative plan to create a dedicated app "authentication" which you can then install via the marketplace and which basically only contains the OAuth2 login which is currently embedded at the developer app. This would have the advantage that you could use this authentication app also for other JS apps. Then you only need to check in your app whether the user is authenticated and if not you can redirect the user to the authentication app following the OAuth2 flow. This is currently only a plan but we should probably build this as simple PHP app so that we have clean urls.


Awesome stuff, that sounds great! I'll read through the previous commit and try to get the html5 mode running on my end soon :) Thank you very much!

I'm not sure if I have had the same problems as you but I couldn't get it to work unfortunately in html5 mode. Thanks for the detailed explanation though, much appreciated